.container {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    width: 60%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    width: 130%;
    height: 130%;
    object-fit: contain;
  }
  
  .description {
    font-size: 1.2em;
    text-align: center;
    color: #333;
  }
  
  .right-side {
    width: 40%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 20px;
  }
  
  .form-container {
    width: 80%;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  button {
    padding: 10px;
    background-color: #f29335;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f1db94;
  }
  
  .toggle-message {
    margin-top: 20px;
    text-align: center;
  }
  
  .toggle-button {
    background: none;
    color: #f29335;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  